:root {
  --title-color: #000;
  --title-font: 'Montserrat';
  --title-weight: 800;
  --title-style: normal;

  --color-accent: #000;
  --text-color: #000;

  --bg: #ffffff;

  --wrapper-bg: radial-gradient(94.66% 94.66% at 4.95% 5.34%, #f3f5f8 0%, #f4f5f9 0.01%, #ffffff 62.5%);
  --wrapper-blur: blur(0);
  --wrapper-margin-top: 0;
  --wrapper-padding: 30px;

  --btn-bg: #000;
  --btn-border: none;
  --btn-color: #ffffff;
}


*{
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  text-align: center;
  background: var(--bg);
}

body {
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: antialiased; */
  text-rendering: optimizeLegibility;
}

h1, p {
  margin: 0;
}

/*.container */

  .container {
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 750px;
    }
    .main {width: 70%;}   
  }
  @media (min-width: 992px) {
    .container {
      max-width: 970px;
    }
    .main {width: 40%;} 
  }
  @media (min-width: 1200px) {
    html {
      font-size: 16px;
    }
    .container {
      max-width: 1200px;
    }
  }
  @media (min-width: 1440px) {
    html {
      font-size: 18px;
    }
    .container {
      max-width: 1400px;
    }
  }

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;

  /*-o-object-position: top center;*/
     /*object-position: top center;*/

    z-index: -1;
}

.main {
  max-width: 100%;
  height: 65vh;
  /*margin-top: 55px;*/
  margin-bottom: -100px;
  /*margin-bottom: -2vh;*/

  object-fit: contain;
}

.main--full {
  margin: -15px;
}

.logo {
  position: absolute;
  top: 20px;
  right: 10px;
  /*left: 0;*/
  height:40px;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

/*test*/

  .wrapper {
    padding: var(--wrapper-padding);
    margin-top: var(--wrapper-margin-top);

    background: var(--wrapper-bg);
    -webkit-backdrop-filter: var(--wrapper-blur);
            backdrop-filter: var(--wrapper-blur);
    border-radius: 30px;
    box-shadow: 0 0 13px 6px rgba(0, 0, 0, .2);
  }

  .test {
    padding-top: 45px;
  }

  .header__title {
    margin-bottom: 20px;

    font-family: var(--title-font), sans-serif;
    font-size: 3rem;
    font-weight: var(--title-weight);
    font-style: var(--title-style);
    line-height: 1.2;
    color: var(--title-color);
    text-transform: uppercase;
  }

  .header__title img {
    height: 1.5em;
    vertical-align: bottom;
  }

  .header__text,
  .final__text {
    margin-bottom: 20px;

    font-size: 1rem;
    line-height: 1.5;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .final__text {
    width: 70%;
    margin: 0 auto 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .final__text h1 {
    font-weight: bolder;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 15px 0;
  }
 
  .final__text h4 {
    margin:0px 0 5px 0;
  }

  .quest__text {
    margin-bottom: 20px;

    font-family: var(--title-font), sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 900;
    
    line-height: 1.5;
  }


/*.btn*/

.btn {
  display: inline-block;
  min-width: 240px;
  padding: 15px 20px;
  margin: 0 10px 20px;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1rem;
  color: var(--btn-color);
  text-decoration: none; /* Remove underline */

  background: var(--btn-bg);
  border-radius: 35px;

  border: var(--btn-border);
  cursor: pointer;
  text-align: center; /* Center text */
  position: relative;
  z-index: 10; /* Make sure this is higher than the z-index of slick dots */
}

.btn-final {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 10; /* Make sure this is higher than the z-index of slick dots */
}


@media (max-width: 1024px) {
  /* .logo {
    height: 70px;
  } */

  html::after {
    height: 30vh;
  }
}


@media (max-width: 992px) {

  .logo {
    height: 30px;
  }

  .wrapper {
    /* margin-top: calc(var(--wrapper-margin-top) + 35vw); */
    margin-top: 0;
  }

  .header__title {
    font-size: 2rem;
  }

  .main {
  margin-top: 35px;
  margin-bottom: -20px;
  height: 35vh;
  }
}
@media (max-width: 576px) {
  .logo {
    top: 10px;
    height: 28px;
    left:0;
    right: auto;
  }

  .tickets {
    top: 50px;
    height: 30vh;
  }

  .wrapper {
    /* padding: calc(var(--wrapper-padding) - 10px); */
    /*margin-top: 25vh;*/
    padding: 20px;
  }

  .main {
    /*margin-top: 14px;
    /*width: 90%;*/
    margin-top:37px;
    margin-bottom: -20px;
    height: 42vh;
  }

  .header__title {
    font-size: 1.5rem;
  }

  /* .header__text,
  .final__text {
    line-height: 1.2;
  } */
  .final__text {
    width: 100%;
  }

  .btn {
    min-width: 40%;
    padding: 10px 15px;
    margin: 0 10px 10px;
  }

  .btn-final {
    min-width: 90%;
  }
}

/* Slick-dots (Цифры) */

  .slick-dots {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: block;
    margin: 0 auto;
    padding: 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    /*font-family: 'Exo 2', sans-serif;*/
    z-index: 1;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 25px 0 0;

    list-style: none;
    text-align: center;
    line-height: 30px;

    border: 1px solid var(--text-color);
    border-radius: 50%;
    pointer-events: none;
  }

  .slick-dots li:nth-last-child(2) {
    margin-right: 0;
  }

  .slick-dots li:last-child {
    display: none;
  }

  .slick-dots li:not(:nth-last-child(2)):before {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;

    content: "";
    display: inline-block;
    height: 1px;
    width: 16px;
    margin: auto 5px;
    background-color: var(--text-color);
  }

  .slick-dots li button {
    /*width: inherit;
    height: inherit;*/
    padding: 0;

    color: inherit;
    border: none;
    background-color: transparent;
  }

  /* .slick-dots li.slick-active {
  } */

  .slick-dots li.check {
    color: transparent;
    background: #fff url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
  }

/* End Slick-dots */

.hide {
  min-height: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

.show {
  height: auto;
  opacity: 1;
}


.footer {
  padding-top: 10px;
  font-size: 10px;
  color: rgba(55, 55, 55, 0.5);
}

.footer a {
  margin: 0 5px;
  color: inherit;
}
.footer p {
  margin: 5px 0;
}

.form,
.form input {
  width: 0;
  height: 0;
  opacity: 0;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm459WxRxC7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm459WxRzS7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm459WxRxi7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm459WxRxy7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
